<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
<div>
    <a href="{{ url_for('tasks_blueprint.get_tasks') }}">Tasks</a>
    <a href="{{ url_for('tasks_blueprint.new_task') }}">Create Task</a>

    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('auth_blueprint.login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('auth_blueprint.logout') }}">Logout</a>
    {% endif %}

    <a href="{{ url_for('auth_blueprint.register') }}">Register</a>
</div>
<div>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>